
/* ==========================================================================
   Grundinställningar (standard för sidan)
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Egna styles för spelet
 */

body {
  text-align: center; /* hela skärmen */
}
button {
  background-color: pink; /* Knappens färg */
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.stats {
  display: flex;
  justify-content: center; /* Centrerat spel */
  gap: 40px; /* avstånd mellan */
  margin: 20px 0;
}
#gameOverBox {
  display: none; /* Dölj game over-rutan från början */
}

#gameOverBox.show {
  display: block;
}
